<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Optional theme -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body >
    <h1>this is the index page</h1>
    {% if user.is_authenticated %}
    <h2>You name is: {{ user.username}} </h2>
    {% for post in posts %}
        <h2> {{post.postName}} </h2>
        <h3> {{post.time}} </h3>
        <p> {{post.description}} </p>
        <img src="{{post.image.url}}" alt="">
        <p> {{post.description}} </p>
    {% endfor %}
    <a href="/accounts/logout/">logout</a>
    {% else %}
    <h2>You are not logged in.</h2>
    <a href="/accounts/login/">login</a>
    {% endif %}
</body>
</html>